<div class="">
	
	<fieldset style="float:left">
		<legend>alipay 电子钱包/淘宝主搜 测试 场景</legend>
		<iframe src="http://pucprod.p29.alipay.net/fare/ebppChargeEntering.htm?iframe=true&agent=11&_mini_app_name=true" height="1000px" width="500px">
		</iframe>
	</fieldset>
	
	<fieldset style="float:left">
		<legend>alipay 本地生活/应用中心 测试 场景</legend>
	
		<iframe src="https://jiaofei.alipay.com/fare/ebppChargeEntering.htm?iframe=true&agent=11" height="1000px" width="650px" style="float:right">
		</iframe>
		
	</fieldset>
	
	<fieldset style="clear:both">
		<legend>alipay 本地生活/应用中心 测试 场景</legend>
		<iframe src="https://login.taobao.com/member/login.jhtml?style=mini&full_redirect=false&redirectURL=http%3A%2F%2Fwww.taobao.com%2F">
		</iframe>
		
	</fieldset>
	
	
</div>